[2015-11-18 16:22] energy01 opened #1 "Add UTF-8 encoding for email"

[2015-11-18 16:23] energy01 opened #2 "Keep the line breaks in the XML"

[2015-11-18 16:24] energy01 opened #3 "Add new sms function with "freemobile" (only in for french people)"

[2016-01-10 13:04] tru7 opened #4 "uncommon directory structure"
please omit the main directory linknx and move everything within one level up to support common compiling procedures.

[2016-01-10 15:05] tru7 opened #5 "source bootstrapping should be reworked"
bootstrapping environment is quite old and should be reworked so it's possible to run newer versions of aclocal, automake, autoconf without problems

[2016-01-12 12:22] 2franix commented on #3
I already have the patch for that. To be committed!

[2016-01-12 12:25] 2franix commented on #4
Can you please give a few details about those "common compiling procedures" you are referring to? Explain why the current file layout is not compliant with them.
That would help understand the reason for the move. Thanks!

[2016-01-12 13:13] 2franix opened #7 "String encoding issues"
There are several issues as of v0.0.1.32 with respect to string encoding:

1/ The request below would fail:
[code]
StringObject14 is of type 16.001, which is the datapoint for 14 character strings encoded in latin1 (aka ISO-8859-1)
Note that the XML request is encoded in UTF-8, as mentioned in the header.
The value is 14 characters long and is as a consequence valid.
The problem comes from the cod

[2016-01-12 13:14] 2franix commented on #7
Fix is ready, to be committed shortly.

[2016-01-12 18:07] tru7 commented on #4
@2franix your current github repository cannot be used with OpenWrt build environment because the macros expect all build files in the top directory of the master branch. That's why my pull request just moves everything one level up and deletes the unneeded linknx sub directory.

[2016-01-14 17:03] tru7 opened #8 "incomplete compiler flags"
for years it was necessary to manually add some compiler variables for some recent compilers because the outdated configure environment was not able to derive all the necessary parameters for compiling and linking. An example is the mysql support.
I will try to solve that.

[2016-01-14 18:06] 2franix commented on #8
Can you please detail your example?

On January 14, 2016 6:03:51 PM CET, Othmar Truniger <notifications@github.com> wrote:

[2016-01-14 18:34] tru7 commented on #8
sure. On my Ubuntu, compilation only works if I set this before running configure:
  export LUA_CFLAGS=`pkg-config lua5.1 --cflags`
  export LUA_LIBS=`pkg-config lua5.1 --libs`
  export LOG4CPP_LIBS=`log4cpp-config --libs`
  export LOG4CPP_CFLAGS=`log4cpp-config --cflags`
  export LIBS="-lmysqlclient_r"
all this should be automatically derived by the configure script.

[2016-01-16 08:32] tru7 commented on #8
OK, I have the code ready in my fork which improves the autoconf environment.

[2016-01-18 12:14] 2franix commented on #4
Fixed with #6.

[2016-01-18 12:14] #4 closed

[2016-01-18 12:15] 2franix commented on #5
Fixed in #6. Thanks @tru7!

[2016-01-18 12:15] #5 closed

[2016-01-18 12:20] 2franix commented on #8
I do not clearly remember if I had to patch my config as you mentioned to get mysql support working with v0.0.1.32. I think I had some trouble but I am unsure and don't remember the fix I used anyway...
Again, I take your conclusion for granted. Feel free to submit a PR so that I can merge with master. We'll have time to give your new config a try, then.

[2016-01-18 12:21] 2franix commented on #8
Reopening issue as I did not mean to close it.

[2016-01-19 17:58] tru7 commented on #8
Actually it' already merged with 83d1d88dc4cec422e13e0c2baa34a828a3f67270 I was not aware that commits done in my fork after the creation of the PR also get merged at the time when the PR is executed.

[2016-01-19 19:10] 2franix commented on #8
No worries, thanks for pointing that out.

Le 19 janvier 2016 18:58:25 UTC+01:00, Othmar Truniger <notifications@github.com> a écrit :

[2016-01-24 20:20] 2franix commented on #5
@tru7 Would you be kind enough to generate a "configure" script and commit it? Having configure under version control would help end user compile our master branch. I am in contact with one of them that encounters issues compiling v0.0.1.32 because of a bad mysql dependency and I think that would be a perfect fit for your recent changes  :)

[2016-01-25 18:52] tru7 commented on #5
@2franix No problem. You can merge #11, I have added all the autogenerated files in the pull request. Of course you could have done the same by just runnig the bootstrap.sh script.
Have you thought about preparing a new release number for the new source code status?

[2016-01-28 20:20] 2franix commented on #5
I just merged #11, thanks. For sure I could have run bootstrap.sh but I was not aware of this script, sorry. And since I didn't know the exact procedure to run the autoconf suite, I preferred to ask the rescue team ;)
(And for some reason, I did not get any notification from github for your last two PR, sorry for the delay)

[2016-01-28 20:34] 2franix commented on #5
And to answer your last question, yes, the version will be increased before the version is considered ready. It will be v1.

[2016-01-28 22:11] tru7 commented on #5
@2franix My branch worked fine but the git clone from master seems to have changed file timestamps which causes another autoreconf which unfortunately fails in my test. I think I know how to fix this, I will take care tomorrow.
How does it work for you?

[2016-02-01 21:49] 2franix commented on #8
I still have an issue with the detection of the mysql lib, even after using the changes from @tru7. Here is what I did:
[code]

The link happens to fail in the test subdirectory:
[code]

I tried to run the same command line with an extra `-lmysqlclient` and it succeeded.

Do you have any insight as to why autoconf is not able to detect this dependency?

[2016-02-02 12:18] tru7 commented on #8
configure fully relies on mysql_config which is typically part of libmysqlclient-dev to find and set library flags.
what is the output of "mysql_config --cflags" and "mysql_config --libs"?
what ist the output when checking for mysql?
how do you enable mysql in the configure command?
do you have private settings for CFLAGS and LIBS?

Strange thing is: when mysql cannot be found it should be disable

[2016-02-02 18:15] tru7 commented on #8
@2franix I had another look at your error report and I realized that I never have compiled the code in the test subdir because I didn't have cppunit installed and I didn't know of "make check". Now after installing libcppunit-dev and running "make check" I can see the same problem. Some more stuff has to be fixed, also some source code to get it compiled successfully. But I think I got it already.

[2016-02-02 21:25] 2franix commented on #8
mysql_config --cflags and --libs look good:
-I/usr/include/mysql -DBIG_JOINS=1  -fno-strict-aliasing    -g -DNDEBUG
-L/usr/lib/x86_64-linux-gnu -lmysqlclient -lpthread -lz -lm -ldl

When configure checks for mysql (excerpt from config.log):
configure:6377: checking for mysql_config
configure:6393: found /usr/bin/mysql_config
configure:6405: result: mysql_config
configure:6423: checking for mysql
c

[2016-02-02 21:31] 2franix commented on #8
Ok, forget my last comment. I had not seen your last comment when I submitted it. For some reason, I do not always get a notification by email. Since I am relying on that to catch new activity on this project, I wasted my time tonight.

Anyway, your last comment is somehow a confirmation of what I suspected. Thanks a lot for looking into it, @tru7.
I will give your fix a try ASAP, for sure! I'll k

[2016-02-03 14:11] tru7 commented on #8
@2franix I'm kind of new to autoconf myself but it's pretty easy to understand: all you have to deal with are the Makefile.am and configure.ac files. All other stuff is generated automatically. It's quite easy to read existing code, it's a little more difficult to fix code (I spent many hours) and of course it's rather difficult to write this stuff from scratch. But there are many examples.
All I

[2016-02-04 11:02] 2franix commented on #8
My understanding of the autotools is quite the same as yours. And as long as I do not have strong knowledge about it, I prefer to act very cautiously, not to break anything.
I still have to merge your fix. This is going to be done as soon as real life gives me some time...

Regarding the version bump, I keep it in mind but I think there is no urgency. The version has to be increased before we setu

[2016-02-04 20:10] tru7 commented on #8
@2franix Yes, version setting is done in the AC_INIT macro.
I would like to have a separate version 0.0.1.33 with all my fixes for autoconf and some source files. It's basically version 0.0.1.32 specifically fixed to get a clean compilation like the -lmysqlclient part, but without any functional change.
This is important for me because I want to use the githup repo instead of sourceforge for build

[2016-02-04 20:27] 2franix commented on #8
Yes, that makes sense. If you need an intermediary version, we'll do it.

Le 04/02/2016 21:12, Othmar Truniger a écrit :

[2016-02-04 20:40] tru7 commented on #8
@energy01 Fine. I'm just working on it. I will redo the fix-testmain part. This will take care of the -lmysqlclient in test subdir and include support for cppunit over the whole files. I will change version and include info in AUTHORS.

[2016-02-04 20:41] tru7 commented on #8
Uuups @2franix sent to the wrong one: Fine. I'm just working on it. I will redo the fix-testmain part. This will take care of the -lmysqlclient in test subdir and include support for cppunit over the whole files. I will change version and include info in AUTHORS.

[2016-02-09 21:33] 2franix commented on #8
Fixed by PR #13.

[2016-02-09 21:33] #8 closed

[2016-02-09 21:57] 2franix opened #14 "Update AUTHORS to reflect all contributors"
The file must be a comprehensive list of all contributors and must clearly states the key role of Jean-François, the initial developer of this project.

[2016-02-09 22:05] 2franix opened #15 "Autotools input files get changed with first "make""
Based on 8d612bf, "make" runs aclocal, automake and autoconf. These will change Makefile.inS and aclocal.m4.
As these files are input files for autotools, having them changed when running make is surprising. Investigation is needed.

[2016-02-10 13:27] tru7 commented on #15
@2franix This is normal for repositories from github because "git clone" does not keep file timestamps. Unfortunately this breaks build logic for make (if autotools are installed). There have been lots of discussions about this. We could add the macro AM_MAINTAINER_MODE in configure.ac (no problem with me) but then we always have to make sure that all files have to be regenerated for commit. Read

[2016-02-10 13:53] 2franix commented on #15
OK, I see the problem, thanks @tru7. This is somewhat related to my
decision to have the generated files for the build system under version
control. My intent was to reduce the burden put on end users and avoid
them to have to run ./bootstrap.sh before compiling the source. But at
that time I was not aware of such consequence, therefore it may be time
to think about it again.

Several options:

1-

[2016-02-10 14:36] tru7 commented on #15
@2franix I'm not very sure about this myself. I'm also with your option 3 or maybe option 4 - leave it the way it is now. I agree that branches or releases targeted for users must be complete and correctly generated. That means no problems for those without autotools and maybe an extra autoconf step for those with autotools.
With option 3 you make sure for master that the build system is generated

[2016-02-10 21:34] 2franix commented on #15
This is not a concern, to me. I do not see any reason for an end user (a non developer one, at least) to build the master branch. Despite our efforts, we cannot guarantee it is stable enough and we should always keep them away from this branch. This is why the README file will present quick links to download tagged releases.

Option 4 has a drawback: I am afraid the generated files would change un

[2016-02-11 17:05] tru7 commented on #15
@2franix Ooops, that simply means that different versions of autotools on different OS environments and maybe with different other development tools generate different output files, which makes kind of sense. But somehow they still must be more or less equivalent logically. Mine look the same as on repository every time of course.
So option 3 is the one making most sense to me.
You should create a

[2016-02-12 21:37] 2franix opened #16 "Remove the obsolete linknx.spec file"
This file looks like the config for a rpm file. But it has not been maintained since 2011 and looks mostly outdated.
I would vote for its deletion unless someone argues against that.

[2016-02-12 21:43] 2franix commented on #15
Closed with a35b881.

[2016-02-12 21:43] #15 closed

[2016-02-13 20:09] tru7 opened #17 "Compiler warnings on unclean source code"
These three compiler warnings are issued:

ObjectTest.cpp: In member function ‘void ObjectTest::testS32Object()’:
ObjectTest.cpp:2657:36: warning: overflow in implicit constant conversion [-Woverflow]
         t.setIntValue(-2000000000UL);

XmlServerTest.cpp: In member function ‘virtual void XmlServerTest::setUp()’:
XmlServerTest.cpp:29:51: warning: ignoring return value of ‘int system(const char*

[2016-02-13 21:17] #14 closed

[2016-02-13 21:21] 2franix opened #18 "Move the wiki from sourceforge to github"
It would be cleaner to have everything hosted on github.
Take the opportunity of the move to fix a few formatting issues (I remember most XML samples are not well displayed).

[2016-02-13 21:43] 2franix commented on #17
I fully agree these have to be fixed.

[2016-02-23 21:07] #17 closed

[2016-04-20 11:37] 2franix opened #19 "Support missing connection with KNX bus"
At least for testing purposes, it would be convenient to be able to run linknx without any connection to the bus. That should work without any performance degradation in comparison with a standard connected instance.
It requires to support XML config without `<knxconnection>` element. As of 0.0.1.33, linknx does not properly support that (every attempt to communicate with the bus has to wait for a

[2016-04-20 12:49] #7 closed

[2016-04-20 12:49] #16 closed

[2016-04-20 14:58] #19 closed

[2016-05-20 09:25] condo4 opened #20 "Create Tag / Release for the project"
Hi,

I work on a Yocto (OpenEmbedded) layer to build all KNX tool.
I want to integrate linknx in the project, and I choose to used your version.

With Yocto, this is better if a recipe use a Tag for 2 reasons:
- A tag don't move, since I need to add checksum in the recipe, this is better
- Github provide a way to download a release by downloading directly a tar.gz.

So, should you create a tag for

[2016-08-16 09:06] energy01 opened #22 "DPT 229 et 235"
Pour info les DPT 229 et 235 ont été introduite dans la version 2.1 du protocole KNX (Janvier 2014).
Il se compose de 6 octets :
- les 4 premier bytes sont un entier signé 32 bits Active energy measured in the tarif indicated in the field Tariff (13.010) (Wh)
- le cinquième byte est un entier non signé 8 bits Tarif associated to the energy indicated in the field ActiveElectricalEnergy
- le sixième

[2016-08-16 10:17] Pollux06 commented on #22
La description du DPT 229.001 est dispo en page 75 de ce pdf : http://www.sti.uniurb.it/romanell/Domotica_e_Edifici_Intelligenti/110504-Lez10a-KNX-Datapoint%20Types%20v1.5.00%20AS.pdf

[2016-10-21 10:09] itarch opened #24 "Unable to start linknx with --daemon from systemd"
Hi

**I add linknx v0.0.1.33 in my setup (Rasp 3, Debian Jessie, knxd 0.11.9) and use systemd to control linknx start/stop/status. To do so, I add the following service file and performed necessary command (systemctl enable linknx). Everything is fine, except the fact that there is no logfile /var/log/linknx.log.**
# > more /lib/systemd/system/linknx.service

[Unit]
Description=Linknx Daemon
After

[2016-12-07 14:18] WasspOrd opened #26 "Feature request #1 : rule's triggers more "granular""
Hi guys,

I'm new on Github, so I hope I'm doing my feature request on the good place. And I'm not a C++ developper, so I'm not able to make some pull requests. So I'm just giving some "ideas" to make linknx even more better... ;-)

It would be great if the rule's triggers could be more "granular". For now, rules are triggered on each object's values change (for binary values, "off to on" and "on

[2016-12-07 14:32] WasspOrd opened #27 "Feature request #2 : new rule action that trigs another rule"
Hi guys,

This is my second feature request.

For now, there is no way to build rules like "If (conditions...) then (if (conditions...) then do this, else do that) else if (....)".
The only thing we can do is execute "if/on-true" or "if/on-false" actions of a second rule, no matter the state conditions of that second rule. That second rule is not "evaluated".

Would it be possible to create a new

[2016-12-07 14:53] 2franix commented on #26
I think I understood what you are trying to achieve. But I may be wrong. What I understood is that at sunrise you want to execute action A if a second condition is true and action B is the second condition is false.
If I got it right, then triggers are not to blame. You can do what you need with two rules (one for sunset when other-condition is true, another for sunset when other-condition is fals

[2016-12-07 15:04] 2franix commented on #27
There must be a way to address that with conditional actions. But I admit this would not be very elegant.
Tagging this issue as enhancement for our backlog.

In the meantime, if you want to implement complex behaviour, consider linking a Python script to linknx with [Pyknx](https://github.com/2franix/pyknx). It can help you handle complex situations with a minimum of code.

[2016-12-07 15:32] WasspOrd commented on #26
Thank you for your answer !
My explanation may have been a little tricky.
I actually have two different rules. One for sunrise, and one for sunset. Both have a second condition.
So, at sunrise, if condition 2 is true, I want action A to be executed, and if condition 2 is false, I want action B to be executed. And that's the same thing for my other rule evaluated at sunset.
The fact is that if sunr

[2016-12-07 15:44] StefaanSeys commented on #26
So what he wants is the timer condition to only trigger when it goes from False to True and not when it switches from False to True...

[2016-12-07 15:45] WasspOrd commented on #27
Thank you for that information. I didn't know Pyknx.

Unfortunately, I need a solution for non-IT guys, that manages their rules themselves (without my help) and easily with knxweb2. And I really think that that enhancement will be very useful !

I hope that it will be implemented soon !

[2016-12-07 15:48] StefaanSeys commented on #26
That could be implemented using this syntax:
[code]

* ontrue = trigger when going from false to true
* onfalse = trigger when going from true to false
* always = the current trigger="true"
* never = the current trigger="false"

[2016-12-07 15:56] 2franix commented on #26
OK, that was what I understood from your first description.
The only way I can see to address your need is with the two rules below. (I did not test them, there may be syntax errors...)

[code]

[2016-12-07 16:00] 2franix commented on #26
Tagging as enhancement for the record. Stefaan's proposal looks consistent. But we have to handle changes on rules with extra care. Further investigation is required.

[2016-12-07 16:27] WasspOrd commented on #26
Thank you for the enhancement label !
I already thought about your proposal... But that means multiplying rules, and when you need to change a condition, you have to change it in each other rule... That added to my second "feature request", the workarounds are not elegant at all. :-/

I really think that these two enhancements would greatly make linknx more powerful and useful. To me, linknx will

[2016-12-09 09:03] StefaanSeys commented on #26
Been looking at the documentation of linknx, and you could also do this by putting a condition inside the action:

## conditional

One condition child elements that is evaluated when the action is executed.
One or more action child elements to execute if condition above is true.
Example
[code]

So you just repeat the condition that triggered the event inside the action and you effectively have an

[2017-01-15 22:18] 2franix commented on #20
Yes, that requires a little bit of cleanup. Will do.

[2017-01-15 22:18] 2franix commented on #22
I'll have a look at it, thanks!

[2017-01-16 20:59] 2franix commented on #20
Regarding the download of a specific version, Github works with branches as well. For 0.0.1.33, this is [here](https://github.com/linknx/linknx/archive/v0.0.1.33.zip). No need for a tag, here.
But you are true, there should be tags for releases, not branches, as releases represent static snapshots of the source code.

[2017-01-16 21:35] 2franix commented on #20
Done with eb160953.
Let me know if that does not suffice.

[2017-01-16 21:35] #20 closed

[2017-01-16 21:41] 2franix commented on #24
Have you checked that there is no permission issue with /var/log/linknx.log?
I use quite the same config as yours, with systemd:
[code]
and it works well.

How do you start eibd or knxd? I would expect to have a dependency between eibd/knxd and linknx in the systemd config.

[2017-01-17 21:17] 2franix commented on #3
Implemented. See commit's message for details.
Keeping this issue open until the change is documented in the wiki.

[2017-01-18 21:24] 2franix commented on #2
This would be particularly useful with actions like send-email, for which the new lines of the body are ignored. This results in a email body formatted in a single line.

[2017-01-18 21:44] #2 closed

[2017-01-19 22:02] 2franix commented on #1
There is still an issue with the subject line. The subject is one header and it cannot be encoded with anything but ASCII.
A workaround consist in encoding the header either in Base64 or Quoted Printable. Here is the subject line *Présence* encoded in QP:
=?utf-8?Q?Pr=C3=A9sence?=

I am still looking for a library that would help converting utf-8 => [Quoted Printable, Base64]

[2017-01-23 21:15] jef2000 commented on #24
If you are using --daemon option, it means that linknx will fork itself to start in background. In this case, you need "Type=forking" in the "Service" section of your systemd config.

[2017-01-24 22:54] fraxinas commented on #16
i argue against that...
unfortunately all my work on getting linknx working nicely with system / rpm on https://github.com/fraxinas/linknx has been ignored :(
i need to try to get everything back in sync with your current work

[2017-01-26 20:51] tru7 commented on #24
@jef2000 thank you for the hint. Handling linknx with systemd on Ubuntu 16.04 finally works for me.

[2017-01-26 21:02] tru7 opened #28 "can linknx get rid of pthsem as knxd did recently?"
@jef2000 did you follow knxd development? with release 0.12 knxd was rewritten to get rid of pthsem and use libev instead. Do you see a chance to do the same for linknx to get a chance to get linknx included in Debian distro and provide a long life for your software?
On a side node: libesmtp was obviously abandoned by the author. Would be nice if it could be replaced by a library supporting ssmtp.

[2017-01-27 07:04] 2franix commented on #28
Hi Otmar,

I saw a few emails about this pthsem replacement in knxd but haven't had the time to look at it deeper. But it is worth investigating, for sure. Replacing pthsem is not the only requirement to be able to create a .deb, though.

Regarding further developments to make linknx grow, we do not have that many issues open (though the few of them have taken a back seat for some time, I'm workin

[2017-01-30 12:42] #24 closed

[2017-02-25 21:28] #1 closed

[2017-02-25 21:31] 2franix commented on #1
With this issue been implemented, it is recommended to use utf8 to encode the XML config (this is the default encoding assumed for XML anyway). Doing so, any kind of character in emails (either in body or in subject line) will be rendered as expected on the email client's end.

[2017-02-27 22:10] 2franix opened #30 "Integrate with Travis CI"
Use Travis to monitor build status on master.
Define a build matrix that exercises multiple configurations.

[2017-02-27 22:13] 2franix commented on #30
Work in progress on the `travis-configuration` branch.
For now, only a very simple build with a parameterless `./configure` is done. More to come shortly.

[2017-03-02 22:54] 2franix commented on #30
PeriodicTaskTest was not passing on Travis' worker, because the test assumed time zone is CET for exercising DST switch. Forced time zone to CET in travis.yml in 91ea6ae

[2017-09-01 16:58] tru7 opened #31 "compilation fails with gcc6"
does not compile on a system with gcc6 like Debian Stretch mainly because of including math.h in src/suncalc.cpp. It succeeds if this is changed to include cmath, but there are many warnings which should be addressed.

[2017-09-07 18:32] 2franix commented on #31
I'll take a look at the warnings. I have to build linknx for Stretch for my own purpose anyway. Thanks for pointing this out @tru7 :)

[2017-09-17 21:19] 2franix commented on #31
I fixed all warnings with gcc6. c++11 functionality such as std::unique_ptr is now required to build linknx but I believe this is acceptable. But I am still fixing Travis' configuration to make it build with gcc6.

For now, the fix is in branch issue31. All tests pass.
I will merge it on master once I have had time to test it on my own installation. Unless @tru7 is faster to report here that it wo

[2017-09-18 18:19] tru7 commented on #31
branch issue31 compiles well for gcc v6 now. My possibilities for testing are very limited on this Debian system, at least "linknx -V" runs fine.
However branch issue31 breakt on older gcc, Here with gcc version 4.9.2 (Debian 4.9.2-10) it stops with:
In file included from ruleserver.cpp:24:0:
ioport.h:112:10: error: ‘unique_ptr’ in namespace ‘std’ does not name a template type
     std::unique_ptr

[2017-09-18 21:00] 2franix commented on #31
This is due to c++11. Travis had the same issue before I reconfigured it to use gcc6.
With gcc4, -std=c++0x may help. Or I can get rid of that unique_ptr feature, as it is used only once.
I'll have a look.
But at some point, we'll have to accept to break with older GCC anyway.

[2017-09-19 05:40] tru7 commented on #31
@2franix agreed, but gcc 4.9.2 is an Debian Jessie which was the stable version until recently. So it's too early to drop that I think. And it also fails on current Ubuntu LTS with gcc 5.4.0. Good work anyway, thanks.

[2017-09-19 21:04] 2franix commented on #31
I fixed the problem by removing this unique_ptr usage. It was not worth the trouble.
I also changed travis' configuration to build for both gcc6 and gcc4.

[2017-09-20 12:58] tru7 commented on #31
good job @2franix ! Compilation now works fine with branch issue31 for gcc with version 4, 5 and 6. Quick test with "linknx -V" also works for all versions. I guess it's time for a merge and maybe for a new release. Thanks

[2017-09-20 21:07] 2franix commented on #31
Closing the issue is premature. Until it is merged with master, it may be helpful to have it open, thus more visible, in case others encounter the same issue.
I'll merge with master once I can test this new version a little bit more.

[2017-10-18 20:39] #31 closed

[2017-10-18 20:53] 2franix commented on #31
After a few days with this version in production at home, I think it is safe to consider it stable.
New release [0.0.1.34](https://github.com/linknx/linknx/releases/tag/0.0.1.34) is out, @tru7.

[2017-10-27 20:48] #30 closed

[2017-10-27 20:59] 2franix opened #33 "Rules cannot mix if-xxx and on-xxx actionlists"
This bug was initially reported [here](https://groups.google.com/forum/#!topic/eibd-linknx-knxweb/uPFvPpXNKKc) (in French)

Considering the configuration below
[code]
the bug is reproducible by following these steps (use [pyknxread.py and pyknxwrite.py](https://github.com/linknx/pyknx) to easily read or write object values from a terminal):
- change Object1's value to off
`pyknxwrite.py -p 1030 Ob

[2017-12-09 21:51] #33 closed

[2017-12-11 22:03] 2franix opened #34 "Regression in rules in v0.0.1.35 and v0.0.1.36"
Version 0.0.1.35 introduced a regression in rules: the default value "on-true" for actionlist's type attribute does not work anymore when importing a XML config. Such actionlist without an explicit *type* attribute are simply ignored.

This bug is partly fixed in 0.0.1.36: the initial import of such actionlist works again. Unfortunately, hot update with Rule::updateXml contains a duplicate of the

[2018-04-17 23:47] laurent-martin commented on #28
Hi, I am currently setting up a RPI with knxd/linknx and knxweb2.
knxd and libpthsem are able to build a .deb out of the box.
only linknx does not.
I am not too much keen of doing a "make install", cand prefer a nice .deb .
So, I created the few files required to create the .deb
(the only problem I had was the test folder not compiling, it expected deps from ../src instead of the local test folder

[2018-04-18 06:44] 2franix commented on #28
Hi,
Creating a package is not of much interest unless we integrate it to the Debian distro. This is where the hard work resides as it required to get rid of pthsem first.

The current approach with makefiles is the simplest to maintain for now but feel free to propose a PR to add a ”deb” target to the makefile if you like it.

Thanks

[2018-04-25 16:28] laurent-martin commented on #28
Well, I think still it would be a good intermediary step for the following reason:
currently, anyone who wants to use knxd/linknx/knxweb on rpi, must:
- build knxd deb + install
- build pthsem deb + install
- compile linknx + install (no deb).

both knxd and pthsem have debian package build, so it would be possible to generate .deb for all 3 packages and make it easier for everyone to install a RP

[2020-01-05 10:31] smurfix commented on #28
Incremtal change from pthsem to libev is possible, I did that with knxd. Its github history contains an adapter that allows you to use both concurrently. I don't remember exactly how I that code worked (mental storage capacity is limited …) but it should be reasonably easy to find.

[2020-02-18 19:46] tru7 opened #46 "Compile fails since commit 0512f6d0a07d50df33bfdca22d48360d164922a8"
I tried to compile with the 3 new commits but it fails because of some iconv problem

Compiler: gcc version 7.4.0 (Ubuntu 7.4.0-1ubuntu1~18.04.1)

Some unusual output:
configure.ac:13: warning: macro 'AM_ICONV' not found in library
configure.ac:13: error: possibly undefined macro: AM_ICONV
      If this token and others are legitimate, please use m4_pattern_allow.
      See the Autoconf documentat

[2020-02-19 13:12] tru7 commented on #46
I had to install gettext additionally and now it runs throuhg fine.

[2020-02-19 13:12] #46 closed

[2020-03-04 19:19] michael1 opened #47 "sunrise and sunset timer fail to schedule at the end of the month (for the first day of the next month)"
Hi,
when running the latest version of linknx (compiled yesterday), the sunrise and sunset timer fail to schedule at the end of the month (for the first day of the next month).
This was working in previous versions.

I'll think this is related to the new computation of periodic tasks, somewhere close to line 493 of suncalc.cpp (tryIncreaseClosestGreaterFreeField..), but haven't had time to look cl

[2020-03-04 19:47] 2franix commented on #47
Thanks for reporting this. This is not an issue I was aware of, so this is definitely helpful. It is likely to be a regression introduced with #39 Unit tests probably don't cover this use case.
I'll try to look into it soon but feel free to report any progress on  your end if you're faster!

[2020-03-04 21:49] 2franix commented on #47
@michael1 PR #48 now proposes a fix that works for me.
Expect a few days before I complete the PR because I would like to review the fix more thoroughly and maybe make it neater.
But feel free to build the issue47 branch in the meantime and/or to comment the PR.
Thanks again for taking the time to report this issue!

[2020-03-04 22:16] michael1 commented on #47
Wow, that was fast. First, thanks a lot for working on that. I have linknx running very stable since quite some time.

I've built the branch and ran my tests and it is working for me as well.

The real life test then 1st of April in the productive environment - but I'll wait some more days for the final version before updating it there.

[2020-03-05 08:55] 2franix commented on #47
Thanks for the kind words @michael1. Linknx is indeed very stable and most of the credit should go to @jef2000. He is the original author (and still is the main author to date even though he chose to stop contributing a few years ago) and he built a solid piece of software that is still working well after over a decade of service. There is obviously a few maintenance tasks that have taken a back s

[2020-03-07 21:42] #47 closed

[2020-05-28 21:10] 2franix opened #52 "Move to Github Actions"
Replace the Travis integration with Github Actions.
- use a build matrix similar to the one in Travis
- make sure PRs require a build to pass
- replace the build badge in the README.md file

[2020-10-16 10:51] damago1 commented on #52
I am ready to contribute to the project. Especially on documentation side which needs a lot of cleanup, and also on the code itself. I was contributing to original SourceForge project. I did a significant part of original documentation there.

I will be upgrading knx installation soon, which will include full reinstallation of linknx server. I am pretty sure I will find something.

Also I would li

[2020-10-16 10:55] damago1 commented on #18
I can help with that. I was the creator of a significant part of original documentation on SourceForge. But I do not have rights to edit wiki here.

[2020-10-19 07:01] 2franix commented on #52
This issue is now closed. A CI build automatically builds new changes pushed on master.

@damago1 As proposed in my email last week, the best way to contribute is through PRs. An preliminary issue is required to discuss any feature change before it is actually implemented. As for the wiki, I created [this repo](https://github.com/linknx/linknx-wiki) to mirror the content of the actual wiki – hoste

[2020-10-19 07:01] #52 closed

[2020-10-19 20:38] 2franix commented on #18
I'm closing this issue. I created [a more up-to-date copy of it](https://github.com/linknx/linknx-wiki/issues/2) in the project hosting the source files of the wiki.

[2020-10-19 20:38] #18 closed

[2020-12-28 12:14] gun777 opened #59 "configure: error: cannot run /bin/bash ./config.sub"
Hi
The following happened to me during configure:
`configure: error: cannot run /bin/bash ./config.sub`
what can I do?
`https://github.com/linknx/linknx/archive/0.0.1.38.zip`
`Debian Buster 10 (stable)`

[2020-12-28 14:38] 2franix commented on #59
Does the file exist? Does it have execution rights?
I suspect there was an earlier error that caused it not to be setup properly. Can you share the entire configure output?

[2020-12-28 15:23] gun777 commented on #59
`wget https://github.com/linknx/linknx/archive/0.0.1.38.zip
unzip 0.0.1.38.zip
cd linknx-0.0.1.38`

The entire configure output:
`./configure
checking for a BSD-compatible install... /usr/bin/install -c
checking whether build environment is sane... yes
checking for a thread-safe mkdir -p... /usr/bin/mkdir -p
checking for gawk... gawk
checking whether make sets $(MAKE)... yes
checking whether make

[2020-12-28 15:44] gun777 commented on #59
This file contains any messages produced by compilers while
running configure, to aid debugging if configure makes a mistake.

It was created by linknx configure 0.0.1.38, which was
generated by GNU Autoconf 2.69.  Invocation command line was

  $ ./configure

## --------- ##
## Platform. ##
## --------- ##

hostname = apu2deb
uname -m = x86_64
uname -r = 4.19.0-13-amd64
uname -s = Linux
uname -v

[2020-12-28 16:11] 2franix commented on #59
The archive is indeed incomplete. As a temporary workaround, run ./bootstrap.sh then configure again. And in the meantime, I'll fix the release archive to make this step unnecessary.

[2020-12-28 16:20] 2franix commented on #59
The archive for 0.0.1.38 has now been fixed. Running `bootstrap.sh` should not be necessary anymore.
Thanks for reporting this stupid mistake @gun777 !

[2020-12-28 16:20] #59 closed

[2020-12-28 18:01] gun777 commented on #59
@2franix thank you

[2021-01-21 20:48] knxste opened #60 "init="request" for object of type "20.102" does not trigger a read group address on the bus at startup"
I have the following object declaration:
<object id="on_off_sala" type="1.001" init="request" gad="2/3/4" flags="cwu"/>
<object id="modo_bagno_P1" type="20.102" init="request" gad="2/6/11" flags="cwu"/>
when I start linknx, it writes a read request on the bus for the first object, but not for the second. If I manually place a read request on the bus using knxtool groupread, the object gets updated

[2021-01-21 20:50] knxste commented on #60
for some reason the form did not keep the pasted object declaration. Let me try again:
'<object id="on_off_sala" type="1.001" init="request" gad="2/3/4" flags="cwu"/>'
'<object id="modo_bagno_P1" type="20.102" init="request" gad="2/6/11" flags="cwu"/>'
apologies for that

[2021-01-21 20:58] knxste commented on #60
nope. I attach the declaration excerpt here.
[20.102_issue.txt](https://github.com/linknx/linknx/files/5852091/20.102_issue.txt)

[2021-01-22 07:20] 2franix commented on #60
Hi,

A few leads to follow:
- AFAIK, when `init="request"`, the initialization takes place upon the first read request for that object. Can you force linknx to get the value for this object to see if it triggers the expected request on the bus? Does the return value correspond to the expected one?
- Can you set logging to the `debug` level and send its content to maybe get more hints as to what is

[2021-01-22 20:15] knxste commented on #60
Many thanks, Cyrille, for your quick answer and your hints. You helped me to understand how initialization works and to solve the issue.
The following code works just fine:
[code]
To explain a bit, I have several rules that I use to trigger on update of an object, the condition does not have a "value" clause, just the "trigger" clause. This does not cause linknx to send a read on the bus, while th

[2021-01-22 20:25] #60 closed

[2021-05-03 21:25] 2franix opened #64 "Broken build on Github, master branch"
The build on github is broken for the following reasons:
- the VM running the build (Ubuntu 20.04) is setup with libmysqlclient-dev preinstalled. It provides mysql_config, which is enough to trigger the automatic detection of MySQL support
- MySQL has removed its `my_bool` typedef ([see this bug, I guess](https://bugs.mysql.com/bug.php?id=85131))

That causes the MySQL code to be included in the c

[2021-05-05 06:25] #64 closed

[2021-05-05 06:38] 2franix opened #65 "Migrate from MySQL connector to MariaDB connector"
# Context
The code still makes use of the MySQL connector C to connect to a MySQL or MariaDB database. That works fine but there are now a few things that advocates for a clear migration to the MariaDB connector C instead:
- MySQL support in Debian was dropped a while ago. MariaDB has a libmariadb-dev-compat package that symlinks /usr/include/mysql->/usr/include/mariadb to make applications such a

[2021-05-05 06:40] 2franix commented on #64
I went the libmariadb-dev-compat route for this quick fix. But I think we should move to MariaDB as it has more traction nowadays. See #65.

[2021-05-05 06:49] 2franix opened #66 "Make CI build matrix more explicit in the way it selects optional features"
The current matrix does neither pass any --with-_package_ nor --without-_package_ options when running configure. It simply installs packages corresponding to the optional features and leans on `configure` to activate optional features if the current configuration makes it possible (e.g. if LUA is present on the machine, then LUA support is switched on).
It is simple to write in the workflow but h

[2021-05-25 15:40] Trance-Paradox opened #67 "Library in cpp"
Hi I would like to know if there is any library version available instead of standalone package?
I am trying to integrate it with MQTT and a library would be very helpful.

[2021-05-25 17:11] 2franix commented on #67
Hi @Trance-Paradox, there is no option to build linknx as a library that I know of.

[2021-05-25 17:11] #67 closed